# не копировать в образ ничего лишнего
.git
.gitignore
.github
node_modules
app/node_modules
*.log
.cache
app/.cache
.npm
app/.npm
.local
app/.local
app/.pnpm-store
build
dist
*.sqlite
.idea
.vscode
.env
app/.env
